/* Portfolio styles */
.content h1 {
  color: rgb(230, 55, 12);
}

#portfolio {
  list-style-type: none;
  padding-left: 0;
}

#portfolio li {
  background: #ce1717;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

#portfolio li:hover {
  background: #d8d50a;
}

#portfolio a {
  text-decoration: none;
  color: #e7ac09;
}
